html, body {
    background-color: hsl(0, 0%, 10%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MENU CONTENT*/
.menuDiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuBtn{
    height: 50px;
    width: 250px;
    margin: 10px;
    background-color: hsl(0, 0%, 85%);
    border-radius: 10px;
    border-style: hidden;
    font-weight: 500;
    font-size: larger;
    cursor: pointer;
}
#startBtn{
    background-color: green;
}
#goBackBtn{
    background-color: red;
}

/* HIGHSCORE CONTENT*/
#highScoreDiv{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: grey;
    z-index: 999;
}
#exitHsBtn{
    color: black;
    background-color: red;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.playerHighScore li {
    display: inline-block;
}

.scoreNumber {
    display: inline-block;
    width: 20px;
}

.playerName {
    display: inline-block;
    margin-left: 10px;
}



/* RULES CONTENT*/
#exitRulesBtn{
    color: black;
    background-color: red;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#rulesDiv{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: grey;
    z-index: 999;
}

/* GAME BOARD CONTENT */
/*  TODO: Fix layout so it fits borth on mobile & PC 
    TODO: Change layout if level 1, 2, 3
    TODO: Add animations when cars spawn*/
.cardBtn{
    height: 50px;
    width: 100px;
}

#gameBoardDiv{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: grey;
    z-index: 999;
}
.gameCard{
    background-color: hsl(0, 0%, 50%);
    /* color: rgba(0, 0, 0, 0); */
    height: 150px;
    width: 100px;
    border-radius: 10px;
    transition: all 300ms ease;
    margin: 10px;
}
.gameCard:hover{
    background-color: hsl(0, 0%, 75%);
    cursor: pointer;
}
#gameBoard{
    background-color: azure;
    display: flex;
    height: 600px;
    width: 375px;
}

.columnGameBoard{
    background-color: white;
    border-style: dashed;
    display: flex;
    flex-direction: column-reverse;
}