body{
    background-color: hsl(0, 0%, 10%);
    font-family: Arial, Helvetica, sans-serif;
}
/* MENU CONTENT*/
.menuDiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuBtn{
    height: 50px;
    width: 250px;
    margin: 10px;
    background-color: hsl(0, 0%, 85%);
    border-radius: 10px;
    border-style: hidden;
    font-weight: 500;
    font-size: larger;
    cursor: pointer;
}
#startBtn{
    background-color: green;
}
#goBackBtn{
    background-color: red;
}

/* HIGHSCORE CONTENT*/
#highScoreDiv{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: grey;
    z-index: 999;
}
#exitHsBtn{
    color: black;
    background-color: red;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.playerHighScore li {
    display: inline-block;
}

.scoreNumber {
    display: inline-block;
    width: 20px; /* Adjust width as needed */
}

.playerName {
    display: inline-block;
    margin-left: 10px; /* Adjust margin as needed */
}



/* RULES CONTENT*/
#exitRulesBtn{
    color: black;
    background-color: red;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#rulesDiv{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: grey;
    z-index: 999;
}

/* GAME BOARD CONTENT */
#gameBoardDiv{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: grey;
    z-index: 999;
}
.gameCard{
    background-color: red;
    height: 150px;
    width: 100px;
    border-radius: 10px;
}
.gameCard:hover{
    background-color: blue;
    cursor: pointer;
}
.gameBoard{
    background-color: azure;
    display: flex;
    height: 100%;
    width: 100%;
}
