/* TODO: Add some color */

body{
    background-color: hsl(0, 0%, 10%);
    display: flex;
    justify-content: center;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.gameBoard{
    background-color: black;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.gameBoard button{
    height: 100px;
    width: 100px;
    background-color: hsl(0, 0%, 85%);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 70px;
}

#resetGame {
    font-size: larger;
    height: 55px;
    width: 150px;
    border-radius: 7px;
}
.gameInfo{
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gameInfo h4{
    font-weight: 200;
    padding: 0px;
    margin: 4px;
}
main{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}